/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: #FFFFFF;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.h1__title {
  color: #D4C17F;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}

.h2__title {
  color: #D4C17F;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.grid-2-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.center-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url("../img/header/header-bg.jpg"), lightgray 50%/cover no-repeat;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("../img/header/header-bg.jpg"), lightgray 50%/cover no-repeat;
}

.header__wrapper {
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  max-width: 556px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 81px;
}

.mouse__icon {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/mouse.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.header__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}

.contacts {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 14px;
}

.placeholder__icon::before {
  background-image: url("../img/icons/placeholder.svg");
}

.phone__icon::before {
  background-image: url("../img/icons/phone-call.svg");
}

.header-nav {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.testimonials {
  padding-top: 120px;
  padding-bottom: 120px;
}
.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.testimonials__card {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
  text-align: center;
}

.appartments {
  padding: 75px 0;
}
.appartments__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.appartments__title {
  margin-bottom: 88px;
}

.appartments__card {
  max-width: 540px;
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
  border: 3px solid transparent;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}
.appartments__card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#242B33), color-stop(0.01%, rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%);
}
.appartments__card:hover {
  border: 3px solid #D4C17F;
}

.card__link {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__title {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 44px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.appartments__card {
  max-width: 540px;
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
  border: 3px solid transparent;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}
.appartments__card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#242B33), color-stop(0.01%, rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%);
}
.appartments__card:hover {
  border: 3px solid #D4C17F;
}

.card__link {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__title {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 44px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cta {
  padding: 180px 0 190px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242b33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242b33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url("../img/cta/cta_bg.jpeg");
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url("../img/cta/cta_bg.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.cta__title {
  margin-bottom: 17px;
}
.content__text {
  max-width: 540px;
  width: 100%;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}

.input__wrp {
  width: 100%;
}

.form-input {
  max-width: 255px;
  width: 100%;
  height: 50px;
  background: hsla(0, 0%, 100%, 0.2);
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.form-input::-webkit-input-placeholder {
  color: #BEBEBE;
}

.form-input::-moz-placeholder {
  color: #BEBEBE;
}

.form-input:-ms-input-placeholder {
  color: #BEBEBE;
}

.form-input::-ms-input-placeholder {
  color: #BEBEBE;
}

.form-input::placeholder {
  color: #BEBEBE;
}

.form-btn {
  max-width: 255px;
  width: 100%;
  height: 50px;
  background-color: #D4C17F;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

.form-info {
  color: #E7E7E7;
  text-align: center;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.video {
  padding: 0 0 90px;
}
.video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video__player {
  max-width: 720px;
  width: 100%;
  height: 0;
  padding-top: 65%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.8)), to(rgba(36, 43, 51, 0.8))), url("../../img/video-bg.jpeg");
  background: linear-gradient(0deg, rgba(36, 43, 51, 0.8) 0%, rgba(36, 43, 51, 0.8) 100%), url("../../img/video-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.player__play-button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-image: url("../img/icons/play-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px 100px;
  -webkit-transition: background-size 0.05s;
  transition: background-size 0.05s;
}

.player__play-button:hover {
  background-size: 110px 110px;
}