.appartments__card {
  // .appartments__card
  max-width: 540px;
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
  border: 3px solid transparent;
  transition: border 0.2s ease-in;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0.00) 0.01%, #242B33 100%);
  }

  &:hover {
    // cursor: pointer;
    border: 3px solid $accent;
  }
}

.card {

  // .card__link
  &__link {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
  }

  // .card__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .card__title
  &__title {
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 44px;

    // color: #FFF;
    font-size: 24px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}