// Appartments

.appartments {
  padding: 75px 0;

  // .appartments__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__title {
    margin-bottom: 88px;
  }
}

.container {}

.h2 {

  // .h2__title
  &__title {}
}

.card-text {}